.task {
  /* Sample  */
  width: 100%;
  /* border: 1ox solid black; */
  background-color: yellow;
 margin-top: 10px;
 display: flex;

 align-items: center;
}

.task input{
  width: 8%;
  
}
.task p{
  width: 60%;
}
.task button{
  margin-left: 5px;
  border: none;
}

.striked{
  text-decoration: line-through;
}













