.counter {
  /* TODO */
}

.counter button{
background-color: rgb(129,151,232);
border: none;
color: white;
width: 23px;
height: 23px;
border-radius: 1px;
}

.counter span{
  color: black;
 margin-left: 5px;
 margin-right: 5px;
  font-weight: 600;
}
